.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #add8e6, #0000ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 40vw;
    width: 40vw;
    height: 90vh;
}

.signinlogo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signinpageicon-container {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: linear-gradient(to right, #add8e6, #0000ff);
   border-radius: 50%;
}

.signinpageicon {
    width: 60px;
    height: 60px;
}
.form-container {
    display: flex;
    flex-direction: column;
}

form {
    margin-bottom: 20px;
}

input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 40px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #318ce7;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button.anonymous-button {
    background-color: #aaa;
}
 
.signinlogotext {
    text-align: middlenpm;
    margin-left: 10px;
  }
  
  .signinlogotext h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700; 
    font-size: 4.5vw; 
    color: #318ce7; 
    margin: 0; 
    padding: 0; 
  }